{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    <hr>
    {% if user.is_authenticated %}
        <h3>New Post</h3>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <textarea class="form-control" name="content" id="" cols="10" rows="3" required></textarea>
            <input class="btn btn-primary" type="submit" value="Post" id="post">
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to add new post</p>
    {% endif %}
    
    <hr>


    {% for post in page_obj %}
        <div class="card text-left" style="margin-bottom: 20px;" id="post{{ post.id }}">
            <div class="card-header" style="font-size: 0.8rem;background-color: rgb(221, 231, 248);">
                <a href="{% url 'profile' post.poster %}">@{{ post.poster }}</a>
            </div>
            <div class="card-body">
                <p class="card-text" id="post-content">{{ post.content }}</p>
                <!-- <textarea name="" class="form-control" id="edit-area" cols="10" rows="2" style="display: none;" required>{{ post.content }}</textarea>
                <button class="btn btn-primary" id="edit-save" onclick="savepost({{ post.id }})" style="margin-top: 10px; display: none;">Save</button>
                <a href="#{{ post.id }}" id="editbtn" onclick="editpost({{ post.id }})">Edit</a> -->

                {% if post.poster == user %}
                    <textarea name="" class="form-control" id="edit-area" cols="10" rows="2" style="display: none;" required>{{ post.content }}</textarea>
                    <button class="btn btn-primary" id="edit-save" onclick="savepost({{ post.id }})" style="margin-top: 10px; display: none;">Save</button>
                    <a href="#{{ post.id }}" id="editbtn" onclick="editpost({{ post.id }})">Edit</a>
                
                    <br>
                    {% if user in post.likers.all %}
                        <span href="#" class="likebtn" onclick="like({{ post.id }})"><i class="fa fa-thumbs-up" id="like" style="color: rgb(0, 19, 83);"></i></span> <span id="likescount">{{ post.likers.count }}</span>
                    {% else %}
                        <span href="#" class="likebtn" onclick="like({{ post.id }})"><i class="fa fa-thumbs-up" id="like"></i></span> <span id="likescount">{{ post.likers.count }}</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-footer text-muted" style="font-size: 0.7rem;">
                {{ post.timestamp }}
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}


            {% for i in num_pages %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}