{% extends "network/layout.html" %}

{% block body %}
    <h2>@<span id="user">{{ username }}</span>
        {% if user.is_authenticated and user != username%}
            <form action="">
                {% csrf_token %}
            </form>
            {% if is_following %}
                <span class="badge btn btn-secondary" style="font-size: 0.8rem; vertical-align: middle;" id="followbtn">Unfollow</span>
            {% else %}
                <span class="badge btn btn-primary" style="font-size: 0.8rem; vertical-align: middle;" id="followbtn">Follow</span>
            {% endif %}
        {% endif %}
    </h2>
    
    <h5 style="white-space: pre;">5M Followers      1 Following</h5>
    <hr>
    <h4>{{ num_posts }} Posts</h4><br>
    {% for post in page_obj %}
        <div class="card text-left" style="margin-bottom: 20px;" id="post{{ post.id }}">
            <div class="card-header" style="font-size: 0.8rem;background-color: rgb(221, 231, 248);">
                <a href="{% url 'profile' post.poster %}">@{{ post.poster }}</a>
            </div>
            <div class="card-body">
                <p class="card-text" id="post-content">{{ post.content }}</p>

                {% if post.poster == user %}
                    <textarea name="" class="form-control" id="edit-area" cols="10" rows="2" style="display: none;" required>{{ post.content }}</textarea>
                    <button class="btn btn-primary" id="edit-save" onclick="savepost({{ post.id }})" style="margin-top: 10px; display: none;">Save</button>
                    <a href="#{{ post.id }}" id="editbtn" onclick="editpost({{ post.id }})">Edit</a>
                {% endif %}
                <br>
                {% if user in post.likers.all %}
                    <span href="#" class="likebtn" onclick="like({{ post.id }})"><i class="fa fa-thumbs-up" id="like" style="color: rgb(0, 19, 83);"></i></span> <span id="likescount">{{ post.likers.count }}</span>
                {% else %}
                    <span href="#" class="likebtn" onclick="like({{ post.id }})"><i class="fa fa-thumbs-up" id="like"></i></span> <span id="likescount">{{ post.likers.count }}</span>
                {% endif %}
            </div>
            <div class="card-footer text-muted" style="font-size: 0.7rem;">
                {{ post.timestamp }}
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}


            {% for i in num_pages %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}